.content {
    width: calc(100% - (56px + 280px));
    padding: 0px 0 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 991px) {
    .content {
        width: calc(100% - 56px);
    }
}

@media screen and (max-width: 767.5px) {
    .content {
        width: 100%;
    }
}