.menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #FCFCFD;
    padding-bottom: 20px;
}

.menu__button {
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    background-color: transparent;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 20px;
    color: #2E3238;
}

.menu__button:hover {
    opacity: 0.8;
}

.menu__bracket {
    margin: 0 13px;
}