.aside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D5D8DD;
    min-width: 56px;
    align-items: center;
    padding-top: 17px;
}

.aside__button {
    margin-bottom: 30px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.aside__button:hover {
    opacity: 0.8;
}

.other {
    background-image: url("../../images/other.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #fff;
    position: sticky;
    top: 65px
}

.favorites {
    background-image: url("../../images/favorites.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: #fff;
    position: sticky;
    top: 120px
}

@media (max-width: 991px) {
    .favorites {
        position: static;
    }

    .other {
        position: static;
    }
}

@media (max-width: 767px) {
    .aside {
        display: none;
    }
}