.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(100% - 336px);
    padding: 0 10px 30px 20px;
    margin: 0;
}

.content__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 16px 0;
    position: sticky;
    width: 100%;
    top: 48px;
    background-color: #FFF;
}

.content__shadow {
    box-shadow: 10px 5px 5px rgba(46, 50, 56, 0.1);
}

.content__title-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.content__title {
    color: #2E3238;
    font-weight: 400;
    margin: 0px 5px 0 0;
    padding: 3px 0 0;
    font-size: 20px;
}

.content__title-small {
    display: none;
}

.content__button {
    min-width: 82px;
    height: 32px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #D5D8DD;
    cursor: pointer;
    color: #2E3238;
    margin: 0 0 0 15px;
    padding: 0;
}

.content__button:hover {
    opacity: 0.8;
}

.content__save-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.save {
    min-width: 103px;
    background-color: #0078CF;
    color: #fff;
}

.exit {
    min-width: 163px;
    margin: 0 0 0 4px;
}

.task {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 15px 2px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.burger {
    display: none;
}

.content__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 15px;
    box-sizing: border-box;
    margin: 10px 0 0;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.content__label {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.red {
    color: #B21F00;
    margin-right: 5px;
}

.content__input {
    margin-top: 9px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #D5D8DD;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.input__search-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 9px 0 0 0;
    width: 100%;
    flex-wrap: nowrap;
    height: min-content;
    min-height: 32px;
}

.input__date-wrapper {
    display: flex;
    flex-direction: row;
    height: 32px;
    margin: 0;
}

.input__search {
    width: 100%;
    margin: 0;
}

.form__button {
    background-image: url("../../images/button__search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #D5D8DD;
    background-color: #FFF;
    cursor: pointer;
    margin: 0px 0 0 3px;
}

.button__search:hover {
    opacity: 0.8;
}

.double {
    grid-column: span 2;
}

.button__add {
    background-image: url("../../images/button__add.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #D5D8DD;
    background-color: #FFF;
    cursor: pointer;
    margin: 0px 0 0 3px;
}

.button__date {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #D5D8DD;
    background-color: #FFF;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin: 0 0 0 3px;
    padding: 5px;
}

.button__date:hover {
    opacity: 0.8;
}

.image__date {
    width: 20px;
    height: 20px;
}

.create {
    display: none;
}

.search__result {
    position: absolute;
    width: calc(100% - 69px);
    max-height: 120px;
    overflow-y: scroll;
    top: calc(100% + 5px);
    display: none;
    background-color: #fff;
    z-index: 5;
    border-radius: 4px;
    border: 1px solid #D5D8DD;
}

.search__result_active {
    display: flex;
}

.search__list {
    width: 100%;
    padding: 0;
}

.search__item {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
    color: #2E3238;
    font-size: 16px;
    list-style: none;
}

.search__item:hover {
    opacity: 0.8;
    background-color: #c9c9c9;
}

.item__button {
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: start;
}

.result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px 20px 3px 3px;
    border: 1px solid #D5D8DD;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.result__item {
    display: flex;
    flex-direction: row;
    border: 1px solid #99D5FF;
    background-color: #E5F4FF;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 0 3px 3px 0;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 20px;
    max-height: 24px;
}

.delete {
    margin: 0 0 0 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(../../images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    width: 16px;
    height: 16px;
}

.input {
    border: none;
    width: min-content;
    max-height: 24px;
    outline: none;
}

.clean {
    background-image: url(../../images/clean.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.clean:hover {
    opacity: 0.8;
}

.none {
    display: none;
}

.button__create {
    display: none;
}

@media (max-width: 1200px) {
    .content {
        padding: 0 15px 30px 17px;
    }

    .content__wrapper {
        padding: 16px 0 17px;
    }

    .content__title {
        margin: 0;
    }

    .content__form {
        gap: 19px 15px;
    }

    .exit {
        margin: 0 0 0 5px;
    }
}

@media (max-width: 991px) {
    .content {
        width: calc(100% - 56px);
    }

    .content__wrapper {
        position: static;
    }

    .content__form {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

    .button__search {
        margin: 0px 0 0 9px;
    }
}

@media (max-width: 767px) {
    .content {
        width: 100%;
        padding: 0 15px 30px 15px;
    }

    .content__wrapper {
        padding: 10px 0;
    }

    .content__button {
        display: none;
    }

    .content__title {
        display: none;
    }

    .content__title-small {
        display: block;
        font-size: 16px;
        line-height: 20px;
        color: #5C6470;
        font-weight: 400;
    }

    .task {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 3px 0 15px 2px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
    }

    .content__form {
        gap: 19.5px;
    }

    .burger {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        border: 1px solid #D5D8DD;
        background-color: #FFF;
        cursor: pointer;
        background-image: url("../../images/burger.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        margin: 6px 0 0;
    }

    .burger:hover {
        opacity: 0.8;
    }

    .content__button_active {
        display: block;
        margin: 5px 5px 0;
    }
}

@media (max-width: 540px) {
    .content__save-wrapper {
        flex-direction: column-reverse;
        align-items: end;
    }

    .create {
        display: block;
        margin-top: 5px;
    }

    .button__none {
        display: none;
    }
}

@media (max-width: 400px) {
    .none {
        display: block;
    }
}

@media (max-width: 320px) {
    .content__title-wrapper>.content__button {
        display: block;
        margin: 8px 0 0;
    }

    .content__title-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .save {
        display: none;
    }

    .exit {
        display: none;
    }

    .burger {
        display: none;
    }

    .button__create {
        display: none;
    }

}