.modal__button_close {
    border-radius: 4px;
    border: 1px solid #D5D8DD;
    cursor: pointer;
    background-color: #FFF;
    color: #2E3238;
    height: 32px;
    width: 32px;
    padding: 0 11px;
    margin-right: 3px;
    background-image: url(./../../../../images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    margin: 2px 0px 0 0;
}