body {
  margin: 0;
  color: #2E3238;
  background-color: #fff;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('react-datepicker/dist/react-datepicker.css');

.react-datepicker-wrapper {
  width: 100%;
}

@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Main/Main.css);
@import url(./components/Aside/Aside.css);
@import url(./components/Sidebar/Sidebar.css);
@import url(./components/Search/Search.css);
@import url(./components/Menu/Menu.css);
@import url(./components/Content/Content.css);
@import url(./components/ModalWindow/ModalWindow.css);
