body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2E3238;
  background-color: #fff;
}

@import url(./vendor/normalize.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Main/Main.css);
@import url(./components/Aside/Aside.css);
@import url(./components/Sidebar/Sidebar.css);
@import url(./components/Search/Search.css);
@import url(./components/Menu/Menu.css);
@import url(./components/Content/Content.css);