.menu__button {
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    background-color: transparent;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 20px;
    color: #2E3238;
}

.menu__button:hover {
    opacity: 0.8;
}